body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

header {
    background-color: #5b8d7e;
    color: rgb(8, 8, 33);
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}


h1 {
    text-align: center;
    color: blue;
}